.container {
  background-color: rgb(253, 249, 249);
  border: 2px solid black;
  border-radius: 15px;
  width: 18rem;
  height: 37.5rem;
  padding: 1rem;
  margin: 0.5rem auto;
}

.calculator {
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0;
}

.App {
  text-align: center;
}

.field {
  height: 42px;
}
